/*公共样式*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
.c0c8ed9{
	color: #c0c8ed9;
}
.bc0c8ed9{
	background-color: #c0c8ed9;
}
.c999{
	color: #999;
}
.c555{
	color: #555;
}
.cfff{
	color: #fff;
}
a{
	text-decoration: none;
}
@keyframes shadow{
	0%{
						
	}
	100%{
		text-shadow: 0px 0px 10px #333;
	}
}
.shadow{
	animation: shadow 0.7s linear 0s infinite alternate;
	}
body{
	margin-top: 18px;
}
/*logo开始*/
.logo{
	width: 1000px;
	height: 47px;
	margin-bottom: 18px;
}
.logo .logo_img{
	width: 153px;
	height: 37px;
	cursor: pointer;
	margin-right: 50px;
}
.logo input{
	width: 240px;
	height: 35px;
	margin-right:230px ;
}
.logo .logo_link{
	width: 320px;
}
.logo .logo_link ul{
	width:100% ;
}
.logo ul a:hover{
	color: #0C8ED9;
}
.logo ul li{
	width: 80px;
	text-align: center;
}
/*logo结束*/

/*header开始*/
.header{
	width: 100%;
	height: 56px;
	background-color: #2c323b;
}
.header ul{
	width: 1100px;
	color: #fff;
	margin: 0 auto;
}
.header ul li{
	width: 100px;
	height: 56px;
	line-height: 56px;
	text-align: center;
	cursor: pointer;
	position: relative;
}
.header ul li:hover{
	background-color: #0c8ed9;
}
.header ul li .img{
	width: 20px;
	height: 20px;
	line-height: 56px;
	overflow: hidden;
	position: absolute;
}
ul li .menu{
	width: 100px;
	background-color: #333333;
	height: 0;
	transition:height 0.2s linear;
	display: none;
}
ul li:hover .menu{
	display: block;
	height: 224px;
}
.header ul li:nth-of-type(4){
	margin-right: 160px;
}

/*header结束*/

/*banner开始*/
.banner{
	width: 100%;
	height: 445px;
	margin-bottom: 50px;
}
.banner ul.number{
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: 40px;
}
.banner ul.number li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ccc;
	float: left;
	margin-right: 10px;
	cursor: pointer;
}
.banner ul.number li.active{
	background-color: red;
}
.banner ul.number li:last-of-type{
	margin-right: 0;
}
.banner .btn{
	width: 50px;
	height: 80px;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	font-size: 60px;
	font-family: '宋体';
	text-align: center;
	line-height: 80px;
	cursor: pointer;
}
.banner .btn.right{
	right: 0;
}
/*banner结束*/			
			
/*精选歌单，热门榜单开始*/
.jingxuan{
	width: 1000px;
	height: 30px;
	position: relative;
	margin-bottom: 42px;
}
.jingxuan .jx a{
	position: absolute;
	left: 600px;
}
.jingxuan .jx a:hover{
	color: #0C8ED9;
}
.jingxuan .rm .img{
	cursor: pointer;
	position: absolute;
	left:664px;
}
.jingxuan .rm a{
	position: absolute;
	left: 968px;
}
.jingxuan .rm a:hover{
	color: #0C8ED9;
}
.jx_info{
	width: 1000px;
	height: 310px;
	overflow: hidden;
	position: relative;
}
.jx_info .img1{
	width: 310px;
}
.jx_info .img_1{
	position: absolute;
	top: 0;
	left: 0px;
	width: 310px;
	height: 310px;
	overflow: hidden;
	cursor: pointer;
}
.jx_info .img_1 .mengban{
	width: 310px;
	height: 310px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	transition: opacity 0.3s linear;
}
.jx_info .img_1 .mengban .bf{
	margin-left: 266px;
	margin-top: 266px;
}
.jx_info .img_1 .mengban:hover{
	opacity: 1;
}
.jx_info .img1:hover{
	transform: translate(0px ,-5px);
	box-shadow: 0px 0px 20px #333;
}
.jx_info .img_1 .top{
	width: 310px;
	background-color: #555;
	opacity: 0.5;
	text-align: right;
	position: absolute;
	top: -33px;
	transition: top 0.1s linear;
}
.jx_info .img_1:hover .top{
	top: 0;
}
.jx_info .img_1 .bottom{
	width: 310px;
	background-color: #555;
	opacity: 0.5;
	position: absolute;
	bottom: -44px;
	transition: bottom 0.1s linear;
}
.jx_info .img_1:hover .bottom{
	bottom: 0;
}

.jx_info .img_2{
	position: absolute;
	top: 0;
	left: 320px;
	width: 150px;
	height: 150px;
	overflow: hidden;
	cursor: pointer;
}
.jx_info .img2:hover{
	transform: translate(0px ,-5px);
	box-shadow: 0px 0px 20px #333;
}
.jx_info .img_2 .top{
	width: 150px;
	background-color: #555;
	opacity: 0.5;
	text-align: right;
	position: absolute;
	top: -33px;
	transition: top 0.1s linear;
}
.jx_info .img_2:hover .top{
	top: 0;
}
.jx_info .img_2 .bottom{
	width: 150px;
	background-color: #555;
	opacity: 0.5;
	position: absolute;
	bottom: -42px;
	transition: bottom 0.1s linear;
}
.jx_info .img_2:hover .bottom{
	bottom: 0;
}

.jx_info .img_3{
	position: absolute;
	top: 0;
	left: 480px;
	width: 150px;
	height: 150px;
	overflow: hidden;
	cursor: pointer;
}
.jx_info .img3:hover{
	transform: translate(0px ,-5px);
	box-shadow: 0px 0px 20px #333;
}
.jx_info .img_3 .top{
	width: 150px;
	background-color: #555;
	opacity: 0.5;
	text-align: right;
	position: absolute;
	top: -33px;
	transition: top 0.1s linear;
}
.jx_info .img_3:hover .top{
	top: 0;
}
.jx_info .img_3 .bottom{
	width: 150px;
	background-color: #555;
	opacity: 0.5;
	position: absolute;
	bottom: -42px;
	transition: bottom 0.1s linear;
}
.jx_info .img_3:hover .bottom{
	bottom: 0;
}

.jx_info .img_4{
	position: absolute;
	top: 160px;
	left: 320px;
	width: 150px;
	height: 150px;
	overflow: hidden;
	cursor: pointer;
}
.jx_info .img4:hover{
	transform: translate(0px ,-5px);
	box-shadow: 0px 0px 20px #333;
}
.jx_info .img_4 .top{
	width: 150px;
	background-color: #555;
	opacity: 0.5;
	text-align: right;
	position: absolute;
	top: -33px;
	transition: top 0.1s linear;
}
.jx_info .img_4:hover .top{
	top: 0;
}
.jx_info .img_4 .bottom{
	width: 150px;
	background-color: #555;
	opacity: 0.5;
	position: absolute;
	bottom: -42px;
	transition: bottom 0.1s linear;
}
.jx_info .img_4:hover .bottom{
	bottom: 0;
}
.jx_info .img_5{
	position: absolute;
	top: 160px;
	left: 480px;
	width: 150px;
	height: 150px;
	overflow: hidden;
	cursor: pointer;
}
.jx_info .img5:hover{
	transform: translate(0px ,-5px);
	box-shadow: 0px 0px 20px #333;
}
.jx_info .img_5 .top{
	width: 150px;
	background-color: #555;
	opacity: 0.5;
	text-align: right;
	position: absolute;
	top: -33px;
	transition: top 0.1s linear;
}
.jx_info .img_5:hover .top{
	top: 0;
}
.jx_info .img_5 .bottom{
	width: 150px;
	background-color: #555;
	opacity: 0.5;
	position: absolute;
	bottom: -42px;
	transition: bottom 0.1s linear;
}
.jx_info .img_5:hover .bottom{
	bottom: 0;
}


.jx_info .img6 img{
	width: 98px;
	height: 98px;
}
.jx_info .img_6 .img66{
	width: 98px;
	height: 98px;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	position: relative;
}
.jx_info .img_6 .img66 img{
	position: absolute;
	left:50%;
	top: 50%;
	margin-left: -22px;
	margin-top: -22px;
}
.jx_info .img_6{
	cursor: pointer;
	width: 98px;
	position: absolute;
	top: 0px;
	left: 664px;
	position: relative;
}
.jx_info .img_6 .img6{
	position: absolute;
	left: 0;
	top: 0;
}
.jx_info .img_6:hover .img6{
	opacity: 0.5;
}
.jx_info .img_6:hover .img66{
	opacity: 1;
}

.jx_info .img7{
	cursor: pointer;
	width: 98px;
	position: absolute;
	top: 106px;
	left: 664px;
}


.jx_info .img8{
	cursor: pointer;
	width: 98px;
	position: absolute;
	top: 212px;
	left: 664px;
}
.jx_info ul{
	color: #999999;
}
.jx_info .rm_title1{
	cursor: pointer;
	position: absolute;
	top: 0;
	left:780px;
	width: 200px;
	height: 24px;
}
.jx_info .rm_title2{
	cursor: pointer;
	position: absolute;
	left:780px;
	top: 106px;
	width: 200px;
	height: 24px;
}
.jx_info .rm_title3{
	cursor: pointer;
	position: absolute;
	left:780px;
	top:212px;
	width: 200px;
	height: 24px;
}
.jx_info .rm_1{
	cursor: pointer;
	position: absolute;
	left:780px;
	top:30px;
	width: 180px;
	height: 120px;
}
.jx_info .rm_2{
	cursor: pointer;
	position: absolute;
	left:780px;
	top:136px;
	width: 180px;
	height: 120px;
}
.jx_info .rm_3{
	cursor: pointer;
	position: absolute;
	left:780px;
	top:242px;
	width: 180px;
	height: 120px;
}
/*精选歌单，热门榜单结束*/

/*新歌首发，MV开始*/
.xinge{
	width: 1000px;
	height: 30px;
	position: relative;
	margin-top: 42px;
	margin-bottom: 42px;
}
.xinge .xg a{
	position: absolute;
	left: 568px;
}
.xinge .xg .hy{
	position: absolute;
	left: 150px;
}
.xinge .xg .om{
	position: absolute;
	left: 210px;
}
.xinge .xg .hg{
	position: absolute;
	left: 270px;
}
.xinge .xg .rb{
	position: absolute;
	left: 330px;
}
.xinge .xg a:hover{
	color: #0C8ED9;
}
.xinge .mv .img{
	position: absolute;
	left:664px;
}
.xinge .mv a{
	position: absolute;
	left: 968px;
}
.xinge .mv a:hover{
	color: #0C8ED9;
}
.xg_info{
	width: 1000px;
	height: 350px;
	/*overflow: hidden;*/
	position: relative;
}
.xg_info .xg_container ul li{
	width: 600px;
	height: 38px;
	position: relative;
	cursor: pointer;
}
.xg_info .xg_container ul li .aaa{
	width: 57px;
	height: 25px;
	position: absolute;
	left: 550px;
	top: 0;
	display: none;
}
.xg_info .xg_container ul li:hover .aaa{
	display: block;
}
.xg_info .xg_container ul a:hover{
	color: #0C8ED9;
}

.xg_info  .img_1 .img1{
	width: 335px;
}
.xg_info .img_1{
	position: absolute;
	top: 0;
	left: 664px;
	width: 335px;
	overflow: hidden;
	cursor: pointer;
}
.xg_info .img1:hover{
	transform: translate(0px ,-5px);
	box-shadow: 0px 0px 20px #333;
}
.xg_info .img_1 .top{
	width: 335px;
	background-color: #555;
	opacity: 0.5;
	text-align: right;
	position: absolute;
	top: -33px;
	transition: top 0.1s linear;
}
.xg_info .img_1:hover .top{
	top: 0;
}
.xg_info .img_1 .bottom{
	width: 335px;
	background-color: #555;
	opacity: 0.5;
	position: absolute;
	bottom: -42px;
	transition: bottom 0.1s linear;
}
.xg_info .img_1:hover .bottom{
	bottom: 0;
}

.xg_info  .img_2 .img2{
	width: 162.5px;
}
.xg_info .img_2{
	position: absolute;
	top: 200px;
	left: 664px;
	width: 162.5px;
	overflow: hidden;
	cursor: pointer;
}
.xg_info .img2:hover{
	transform: translate(0px ,-5px);
	box-shadow: 0px 0px 20px #333;
}
.xg_info .img_2 .top{
	width: 162.5px;
	background-color: #555;
	opacity: 0.5;
	text-align: right;
	position: absolute;
	top: -33px;
	transition: top 0.1s linear;
}
.xg_info .img_2:hover .top{
	top: 0;
}
.xg_info .img_2 .bottom{
	width: 335px;
	background-color: #555;
	opacity: 0.5;
	position: absolute;
	bottom: -42px;
	transition: bottom 0.1s linear;
}
.xg_info .img_2:hover .bottom{
	bottom: 0;
}

.xg_info  .img_3 .img3{
	width: 162.5px;
}
.xg_info .img_3{
	position: absolute;
	top: 200px;
	left: 836.5px;
	width: 162.5px;
	overflow: hidden;
	cursor: pointer;
}
.xg_info .img3:hover{
	transform: translate(0px ,-5px);
	box-shadow: 0px 0px 20px #333;
}
.xg_info .img_3 .top{
	width: 162.5px;
	background-color: #555;
	opacity: 0.5;
	text-align: right;
	position: absolute;
	top: -33px;
	transition: top 0.1s linear;
}
.xg_info .img_3:hover .top{
	top: 0;
}
.xg_info .img_3 .bottom{
	width: 335px;
	background-color: #555;
	opacity: 0.5;
	position: absolute;
	bottom: -42px;
	transition: bottom 0.1s linear;
}
.xg_info .img_3:hover .bottom{
	bottom: 0;
}
/*新歌首发，MV结束*/

/*热门电台热门歌手开始*/
.remen{
	width: 1000px;
	height: 30px;
	position: relative;
	margin-bottom: 42px;
}
.remen .rmdt a{
	position: absolute;
	left: 600px;
}
.remen .rmdt a:hover{
	color: #0C8ED9;
}
.remen .rmgs .img{
	position: absolute;
	left:664px;
}
.remen .rmgs .hy{
	position: absolute;
	left: 800px;
}
.remen .rmgs .om{
	position: absolute;
	left: 860px;
}
.remen .rmgs .hg{
	position: absolute;
	left: 920px;
}
.remen .rmgs a{
	position: absolute;
	left: 968px;
}
.remen .rmgs a:hover{
	color: #0C8ED9;
}
.remen_info{
	width: 1000px;
	height: 325px;
	/*overflow: hidden;*/
	position: relative;
}
.remen_info ul{
	width: 655px;
}
.remen_info ul li{
	width: 128px;
	height: 160px;
	/*line-height: 160px;*/
	text-align: center;
	cursor: pointer;
}
.remen_info .img{
	border-radius: 50%;
	transition: transform 0.5s linear;
}
.remen_info .img:hover{
	transform: rotate(360deg);
}

.remen_info .img_11 .img11{
	width: 162.5px;
}
.remen_info .img_11{
	position: absolute;
	top: 0px;
	left: 664px;
	width: 162.5px;
	height: 162.5px;
	overflow: hidden;
	cursor: pointer;
}
.remen_info .img11:hover{
	transform: translate(0px ,-5px);
	box-shadow: 0px 0px 20px #333;
}
.remen_info .img_11 .top{
	width: 162.5px;
	background-color: #555;
	opacity: 0.5;
	text-align: right;
	position: absolute;
	top: -33px;
	transition: top 0.1s linear;
}
.remen_info .img_11:hover .top{
	top: 0;
}
.remen_info .img_11 .bottom{
	width: 162.5px;
	background-color: #555;
	opacity: 0.5;
	position: absolute;
	bottom: -42px;
	transition: bottom 0.1s linear;
}
.remen_info .img_11:hover .bottom{
	bottom: 0;
}

.remen_info .img_12 .img12{
	width: 162.5px;
}
.remen_info .img_12{
	position: absolute;
	top: 0px;
	left: 836.5px;
	width: 162.5px;
	height: 162.5px;
	overflow: hidden;
	cursor: pointer;
}
.remen_info .img12:hover{
	transform: translate(0px ,-5px);
	box-shadow: 0px 0px 20px #333;
}
.remen_info .img_12 .top{
	width: 162.5px;
	background-color: #555;
	opacity: 0.5;
	text-align: right;
	position: absolute;
	top: -33px;
	transition: top 0.1s linear;
}
.remen_info .img_12:hover .top{
	top: 0;
}
.remen_info .img_12 .bottom{
	width: 162.5px;
	background-color: #555;
	opacity: 0.5;
	position: absolute;
	bottom: -42px;
	transition: bottom 0.1s linear;
}
.remen_info .img_12:hover .bottom{
	bottom: 0;
}

.remen_info .img_13 .img13{
	width: 105px;
}
.remen_info .img_13{
	position: absolute;
	top: 180px;
	left: 664px;
	width: 105px;
	height: 105px;
	overflow: hidden;
	cursor: pointer;
}
.remen_info .img13:hover{
	transform: translate(0px ,-5px);
	box-shadow: 0px 0px 20px #333;
}
.remen_info .img_13 .top{
	width: 105px;
	background-color: #555;
	opacity: 0.5;
	text-align: right;
	position: absolute;
	top: -33px;
	transition: top 0.1s linear;
}
.remen_info .img_13:hover .top{
	top: 0;
}
.remen_info .img_13 .bottom{
	width: 105px;
	background-color: #555;
	opacity: 0.5;
	position: absolute;
	bottom: -42px;
	transition: bottom 0.1s linear;
}
.remen_info .img_13:hover .bottom{
	bottom: 0;
}

.remen_info .img_14 .img14{
	width: 105px;
}
.remen_info .img_14{
	position: absolute;
	top: 180px;
	left: 779px;
	width: 105px;
	height: 105px;
	overflow: hidden;
	cursor: pointer;
}
.remen_info .img14:hover{
	transform: translate(0px ,-5px);
	box-shadow: 0px 0px 20px #333;
}
.remen_info .img_14 .top{
	width: 105px;
	background-color: #555;
	opacity: 0.5;
	text-align: right;
	position: absolute;
	top: -33px;
	transition: top 0.1s linear;
}
.remen_info .img_14:hover .top{
	top: 0;
}
.remen_info .img_14 .bottom{
	width: 105px;
	background-color: #555;
	opacity: 0.5;
	position: absolute;
	bottom: -42px;
	transition: bottom 0.1s linear;
}
.remen_info .img_14:hover .bottom{
	bottom: 0;
}

.remen_info .img_15 .img15{
	width: 105px;
}
.remen_info .img_15{
	position: absolute;
	top: 180px;
	left: 894px;
	width: 105px;
	height: 105px;
	overflow: hidden;
	cursor: pointer;
}
.remen_info .img15:hover{
	transform: translate(0px ,-5px);
	box-shadow: 0px 0px 20px #333;
}
.remen_info .img_15 .top{
	width: 105px;
	background-color: #555;
	opacity: 0.5;
	text-align: right;
	position: absolute;
	top: -33px;
	transition: top 0.1s linear;
}
.remen_info .img_15:hover .top{
	top: 0;
}
.remen_info .img_15 .bottom{
	width: 105px;
	background-color: #555;
	opacity: 0.5;
	position: absolute;
	bottom: -42px;
	transition: bottom 0.1s linear;
}
.remen_info .img_15:hover .bottom{
	bottom: 0;
}
/*热门电台热门歌手结束*/

/*合作伙伴开始*/
.partner{
	width: 1000px;
	height: 30px;
	margin-top: 42px;
	margin-bottom: 42px;
}
.partner_info {
	width: 1000px;
}
.partner_info ul{
	width: 100%;
}
.partner_info ul li{
	border: 1px dashed #000;
	width: 132px;
	height: 60px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
	cursor: pointer;
}
/*合作伙伴结束*/

/*友情链接开始*/
.friend{
	width: 1000px;
	height: 30px;
	margin-top: 42px;
	margin-bottom: 42px;
	position: relative;
}
.friend .friend_Link a{
	position: absolute;
	left: 968px;
}
.friend .friend_Link a:hover{
	color: #0C8ED9;
}
.friend_info{
	width: 1000px;
}
.friend_info ul li{
	width: 112px;
	height: 50px;
	line-height: 50px;
}
.friend_info ul li a:hover{
	color: #0C8ED9;
}
/*友情链接结束*/

/*footer开始*/
.footer{
	width: 100%;
	background-color: #2c323b;
	color: #fff;
	margin-top: 42px;
	padding-bottom: 100px;
}
.footer .footer_menu{
	width:1200px;
}
.footer .footer_menu ul{
	width: 100%;
	color: #fff;
}
.footer .footer_menu ul li{
	border-right: 1px solid #000;
	width: 85px;
	height: 28px;
	line-height: 28px;
	margin-right: 10px;
	text-align: center;
	cursor: pointer;
}
.footer .footer_menu ul li:last-of-type{
	border: hidden;
	width: 85px;
	height: 28px;
	line-height: 28px;
	margin-right: 10px;
	text-align: center;
	cursor: pointer;
}
.footer .foot_info{
	width: 800px;
	margin-top: 100px;
}
.footer .foot_info .footerIcon:hover{
	cursor: pointer;
}
.footer .footer_info p{
	text-align: center;
}
/*footer结束*/